body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  
  background: #000 url("../img/bg-index.jpg") no-repeat center top;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 60px;
  color: #fff;
  background-color: #000;
}

.inner-page .main-header {
  margin-bottom: 0px;
}

.main-navigation {
  float: left;
  width: 780px;
}

.main-navigation ul {
  margin: 0; 
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;
  color: #fff;
  text-decoration: none;
}

a.logo-inner {
  padding-top: 22px;
  padding-bottom: 19px;
}

.user-block {
  float: right;
  max-width: 140px;
}

.login {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 25px 20px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}

.login::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 20px;
  width: 18px;
  height: 18px;
  background: url("../img/icon-login.png") no-repeat;
  opacity: .3;
}

.login:hover::before {
  opacity: 1;
}

.main-navigation a:hover,
.login:hover {
  background-color: #242424;
}

main.container {
  margin-bottom: 65px;
}

.index-logo {
  height: 204px;
  width: 368px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.index-logo img {
  height: 204px;
  width: 368px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center; 
}

.features-item:last-child {
  margin-right: 0;
} 

.features-name {
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 35px;
  font-size: 30px;
  line-height: 42px;
}

.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  transform: rotate(45deg);
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
}

.index-content {
  padding: 50px 80px;
  margin-bottom: 35px;
  color: #000;
  background: 
    url("../img/line-content-block.png") no-repeat center,
    #f8f5f2 url("../img/bg-content-block.png");
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 42px;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;
}

.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 40px;
  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview time {
  text-transform: none;
  font-weight: 400;
}

.btn {
  display: inline-block;
  vertical-align: top; 
  padding: 10px 33px;
  margin-right: 16px;
  
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  
  background-color: #000;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: .5;
}

.btn.disabled:hover,
.btn:disabled:hover{
  background-color: #000;
}

.gallery {
  position: relative;
  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;
  background-color: #ccc;
  border: 7px solid #fff;
}

.gallery .btn {
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form input {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 106px;
  padding: 7px 15px;
  
  font: inherit;
  color: inherit;
  text-transform: inherit;
  
  background-color: #f9f6f3;
  border: 2px solid #000;
  outline: none;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form input:focus {
  border-color: #663d15;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
} 

.inner-page {
  background: #f8f5f2 url("../img/bg-content-block.png");
  color: #000;
}

.price-main {
  padding-top: 50px;
  padding-bottom: 80px;
}

.inner-page-title {
  margin-bottom: 50px;
}

.inner-page-title h1 {
  font-size: 30px;
  line-height: 42px;
  margin: 0;
  margin-bottom: 20px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  font-size: 0;
}

.breadcrumbs li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
  list-style: none;
  font-size: 14px;
}

.breadcrumbs a {
  text-decoration: none;
  color: #000;
}

.breadcrumbs a:hover {
  color: #663d15;
}

.breadcrumbs .current {
  color: #aba9a7;
}

.breadcrumbs li:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -23px;
  display: block;
  width: 8px;
  height: 8px;
  background-color: #000;
  transform: rotate(45deg);
}

.big-heading {
  position: relative;
  margin-bottom: 60px;
  text-align: center;
}

.big-heading::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0;
  background-color: #000;
}

.big-heading h2 {
  position: relative;
  display: inline;
  padding: 0 25px;
  font-size: 48px;
  line-height: 66px;
  background: #f8f5f2 url("../img/bg-content-block.png");
}

.inner-content {
  margin-bottom: 60px;
}

.inner-content:last-child {
  margin-bottom: 0;
}

.inner-content h2 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 30px;
}

.inner-content-left {
  float: left;
  width: 390px;
}

.inner-content-right {
  float: right;
  width: 460px;
}

.custom-list-1 {
  margin: 0;
  padding-left: 20px;
  list-style: none;
}

.custom-list-1 li {
  position: relative;
  font-size: 14px;
  margin-bottom: 15px;
}

.custom-list-1 li:last-child {
  margin-bottom: 0;
}

.custom-list-1 li:before {
  content: "";
  position: absolute;
  top: 7px;
  left: -18px;
  width: 8px;
  height: 8px;
  background-color: #000;
  transform: rotate(45deg);
}

.prices-table {
  width: 100%;
  border-collapse: collapse;
}

.prices-table td {
  padding: 0;
  width: 50%;
  height: 40px;
  border: 2px solid #000;
}

.prices-table td:nth-child(odd) {
  padding-left: 20px;
}

.prices-table td:nth-child(even) {
  text-align: center;
}

.inner-content p {
  margin: 0;
}

.narrow-column p {
  width: 390px;
}

.item-main,
.shop-main {
  padding: 50px 0;
}

.item-column-left {
  float: left;
  width: 460px;
}

.item-column-right {
  float: right;
  width: 390px;
  padding-top: 20px;
}

.item-photos {
  margin: 0;
  font-size: 0;
  line-height: 0;
}

.item-photo-big {
  margin-bottom: 20px;
  box-shadow:  0 0 15px rgba(0, 0, 0, .2);
}

.item-photo-small {
  display: inline-block;
  margin-right: 20px;
  box-shadow:  0 0 15px rgba(0, 0, 0, .2);
}

.item-photo-small:last-child {
  margin-right: 0;
}

.item-info {
  margin-bottom: 30px;
}

.item-availability {
  float: left;
}

.item-number{
  float: right;
  color: #aeaeae;
}

.item-description {
  margin-bottom: 35px;
}

.item-buy {
  margin-bottom: 60px;
}

.item-price {
  float: left;
  padding: 10px 25px;
  background-color: #e5e5e5;
}

.item-buy-btn {
  float: left;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.item-set h2 {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 32px;
}

.custom-list-2 {
  margin: 0;
  padding-left: 20px;
  list-style: none;
}

.custom-list-2 li {
  position: relative;
  font-size: 14px;
  margin-bottom: 5px;
}

.custom-list-2 li:last-child {
  margin-bottom: 0;
}

.custom-list-2 li:before {
  content: "";
  position: absolute;
  top: 7px;
  left: -18px;
  width: 8px;
  height: 8px;
  background-color: #000;
  transform: rotate(45deg);
}

.shop-column-left {
  float: left;
  width: 220px;
}

.shop-column-right {
  float: right;
  width: 700px;
}

.shop-filters fieldset {
  border: none;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

.shop-filters legend {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 35px;
}

.shop-filters input {
  margin-bottom: 15px;
}

.shop-filters label:last-child {
  margin-bottom: 0;
}

.shop-items {
  margin-bottom: 45px;
  font-size: 0;
  line-height: 0;
}

.shop-items article {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 220px;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
  box-shadow:  0 0 15px rgba(0, 0, 0, .2);
}

.shop-items article:nth-child(3n) {
  margin-right: 0;
}

.shop-items article:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.shop-item-option {
  padding: 15px;
}

.shop-item-option a {
  text-decoration: none;
}

.shop-item-name {
  margin: 0;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  text-transform: none; 
}

.shop-item-name:hover {
  color: #663d15;
}

.shop-item-brand {
  text-transform: uppercase;
}

.shop-item-option .item-buy {
  margin: 0;
}

.shop-item-option .item-price {
  float: left;
  padding: 10px 20px;
  width: auto;
}

.shop-item-option .item-buy-btn {
  float: right;
}

.paginator {
  font-size: 0;
}

.paginator a {
  display: inline-block;
  vertical-align: top;
  margin-right: 7px;
  padding: 10px 0;
  text-align: center;
  width: 44px;
  height: 24px;
  font-size: 14px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

.paginator a:hover {
  background-color: #663d15;
}

.paginator .active,
.paginator .active:hover {
  cursor: default;
  background-color: #fff;
  color: #000;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 40px;
  color: #fff;
  background: #252525 url("../img/bg-footer.png");
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 80px;
}

.footer-contacts a {
  color: #fff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 180px;
  text-align: center;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  
  font-size: 0;
  text-decoration: none;
  
  transition: 
    background-position .5s,
    background-color .5s;
}

.social-btn-vk {
  background: #000 url("../img/social-vk.png") no-repeat center;
}

.social-btn-fb {
  background: #000 url("../img/social-fb.png") no-repeat center;
}

.social-btn-inst {
  background: #000 url("../img/social-inst.png") no-repeat center;
}

.social-btn-vk:hover {
  background: #fff url("../img/social-vk-2.png") no-repeat center;
}

.social-btn-fb:hover {
  background: #fff url("../img/social-fb-2.png") no-repeat center;
}

.social-btn-inst:hover {
  background: #fff url("../img/social-inst-2.png") no-repeat center;
}

.footer-copyright {
  float: right; Ð¸ 
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
}